<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Patrick+Hand&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <style>
    h3,
    h5 {
      font-family: 'Patrick Hand', cursive;
    }
  </style>
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Help</title>
</head>

<body>
  <div id="container">

    <h3>Commands</h3>
    <h5 class="text-primary">Use the arrow keys to walk around</h5>
    <h5 class="text-primary">Send messages using the message box in bottom left corner</h5>
    <h5 class="text-primary">Send these commands as a message to change character animation</h5>
    <ul class="list-group list-group-flush">
      <li class="list-group-item p-3 mb-2 bg-dark text-white">stand_up</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">stand_down(Default)</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">stand_left</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">stand_right</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">cast_up</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">cast_down</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">cast_left</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">cast_right</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">slash_up</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">slash_down</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">slash_left</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">slash_right</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">thrust_up</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">thrust_down</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">thrust_left</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">thrust_right</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">shoot_up</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">shoot_down</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">shoot_left</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">shoot_right</li>
      <li class="list-group-item p-3 mb-2 bg-dark text-white">hurt</li>

    </ul>

  </div>
</body>

</html>
